/*Global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #FFF;
    color: #000;
}
/*Header*/
.header{
    height: 10vh;
    margin: 0 15px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.nav_ol{
    height: inherit;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    align-content: center;
}
.ol_li{
    list-style: none;
    padding: 15px 8px;
}
.li_portfolio, .li_event, .li_contact{
    color: #000;
    text-decoration: none;
    height: inherit;
    font-weight: 800;
}
/*Hero*/
.hero{
    height: 90vh;
    color: #000;
    background-image: url('../images/background_1.svg');
    background-size: 100vw;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
h1{
    margin-right: 55px;
    font-size: 50px;
    text-align: right;
    line-height: 1.75em;
}
h1 strong{
    color: #FFF;
    text-transform: capitalize;
    font-style: oblique;
    font-size: 60px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 600;
    letter-spacing: -.1px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 18px;
}
/*Portfolio*/
.portfolio{
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    max-width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
}
.portfolio_title{
    margin: 30px;
    padding-top: 30px;
    text-transform: uppercase;
}
.portfolioInfo_title{
    color: #12677c;
}
.portfolio_info{
    box-sizing: border-box;
    width: 85%;
    height: 275px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}
.description_title, .description_subtitle, .description_date, .description_url, .description_2{
    margin: 7.5px 0;
    text-align: start;
}
.description_title{
    color: #12677c;
    text-transform: uppercase;
    font-size: 20px;
}
.description_date strong, .description_url strong{
    text-transform: uppercase;
}
/*Event*/
.event{
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.event_title{
    margin: 30px;
    padding-top: 30px;
    text-transform: uppercase;
}
.event_wrapper{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.event_info{
    max-width: 49.75%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event_imageContainer{
    margin-bottom: 20px;
}
.event_article{
    text-align: center;
    margin-bottom: 30px;
}
.article_title{
    color: #12677c;
}
.article_description{
    padding: 20px;
    text-align: left;
}
.article_url{
    padding: 10px 20px;
    color: #12677c;
    text-decoration: none;
    border: 1px solid #12677c;
    border-radius: 10px;
}
/*Contact*/
.contact{
    background-image: url('../images/background_1.svg');
    padding: 20px;
    height: 150px;
}
.contact_title{
    text-transform: uppercase;
    text-align: center;
}
.contact_flex{
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.contact_form{
    padding: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
}
input, button{
    margin: 4px;
    border-color: grey;
    border-width: 1px;
    border-radius: 3px;
}
button{
    color: #FFF;
    font-weight: 600;
    background: #000;
    cursor: pointer;
}
.contact_article{
    padding: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
}
h6{
    font-size: 18px;
    text-align: center;
    letter-spacing: .7px;
}
.image.github, .image.twitter, .image.linkedin{
    margin: 15px;
    width: 50px;
    height: 50px;
}
.image.linkedin{
    width: 100px;
}
/*Footer*/
.footer{
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.footer_paragraph{
    font-size: 18px;
    font-weight: 600;
}
.paragraph_name{
    color: #12677c;
    font-weight: 900;
}
.paragraph_passion{
    color: #ff0000;
    font-weight: 900;
}
/*Media Queries*/
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 767px){
    
}