/*Global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #FFF;
    color: #000;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 600;
    letter-spacing: -.1px;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4, h5 , h6{
    font-size: 1rem;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?asok48');
    src:  url('../fonts/icomoon.eot?asok48#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?asok48') format('truetype'),
      url('../fonts/icomoon.woff?asok48') format('woff'),
      url('../fonts/icomoon.svg?asok48#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e904";
  }
  .icon-github:before {
    content: "\e900";
  }
  .icon-gmail:before {
    content: "\e901";
    color: #d14836;
  }
  .icon-linkedin:before {
    content: "\e902";
    color: #0077b5;
  }
  .icon-twitter:before {
    content: "\e903";
    color: #1da1f2;
  }
  /*Burger button*/
  .burger-button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #FFF;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    line-height: 2rem;
    text-align: center;
    position: fixed;
    top: .5rem;
    left: .5rem;
    z-index: 3;
}
/*Header*/
.header{
    height: 10vh;
    margin: 0 15px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.nav_ol{
    height: inherit;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    align-content: center;
}
.ol_li{
    list-style: none;
    padding: 15px 8px;
}
.li_portfolio, .li_event, .li_contact{
    color: #000;
    text-decoration: none;
    height: inherit;
    font-weight: 800;
}
/*Hero*/
.hero{
    height: 90vh;
    color: #000;
    background-image: url('../images/background_1.svg');
    background-size: 100vw;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
h1{
    margin-right: 3rem;
    font-size: 3rem;
    text-align: right;
    line-height: 1.75em;
}
h1 strong{
    color: #FFF;
    text-transform: capitalize;
    font-style: oblique;
    font-size: 3.4rem;
}
/*Portfolio*/
.portfolio{
    background-color: rgb(247, 247, 247);
    border-radius: 1rem;
    max-width: 85vw;
    margin: 1rem auto;
    padding: 1rem;
    box-sizing: border-box;
}
.portfolio_title{
    margin: 1rem;
    text-transform: uppercase;
}
.portfolio_info{
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}
.info_description{
    max-width: 50%;
    box-sizing: border-box;
}
.description_title, .description_subtitle, .description_date, .description_url, .description_2{
    margin: .5rem 0;
    text-align: start;
}
.description_title{
    color: #12677c;
    text-transform: uppercase;
}
.description_date strong, .description_url strong{
    text-transform: uppercase;
}
.media_imageContainer{
    max-width: 40%;
}
.media_image{
    border-radius: 1rem;
}
/*Event*/
.event{
    background-color: rgb(247, 247, 247);
    border-radius: 1rem;
    max-width: 85%;
    margin: 1rem auto;
    padding: 1rem;
    box-sizing: border-box;
}
.event_title{
    margin: 1rem;
    text-transform: uppercase;
}
.event_wrapper{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.event_info{
    max-width: 48%;
    margin: 1% auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event_imageContainer{
    max-width: 80%;
    padding: 1rem;
}
.event_image{
    border-radius: 1rem;
}
.event_article{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.article_title{
    color: #12677c;
}
.article_description{
    margin: .9rem 0;
    padding: 0 6rem;
    text-align: left;
}
.article_url{
    text-align: center;
    padding: .25rem .5rem;
    color: #12677c;
    text-decoration: none;
    border: .1rem solid #12677c;
    border-radius: 1rem;
}
.video_container{
    width: 90vw;
    height: 0;
    padding-top: 56.25%;
    margin: 1rem 5vw;
    position: relative;
}
.video{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video_youtubeContainer{
    width: 90vw;
    height: 0;
    padding-top: 56.25%;
    margin: 1rem 5vw;
    position: relative;
}
.video_youtube{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*Contact*/
.contact{
    background-image: url('../images/background_1.svg');
    padding: 1rem;
    height: auto;
}
.contact_title{
    text-transform: uppercase;
    text-align: center;
}
.contact_flex{
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.contact_form{
    padding: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
}
input, button{
    margin: .25rem;
    border-color: grey;
    border-width: .1rem;
    border-radius: .25rem;
}
button{
    color: #FFF;
    font-weight: 600;
    background: #000;
    cursor: pointer;
}
.contact_article{
    padding: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
}
h6{
    text-align: center;
    letter-spacing: .7px;
}
article .article_imageContainer{
    margin-top: .5rem;
}
.icon-gmail:before, .icon-linkedin:before, .icon-github:before, .icon-twitter:before{
    font-size: 55px;
    margin: .5rem;
}
.image.linkedin{
    width: 7rem;
}
/*Footer*/
.footer{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: .25rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer_paragraph{
    font-size: 1rem;
    font-weight: 600;
}
.paragraph_name{
    color: #12677c;
    font-weight: 900;
}
.paragraph_passion{
    color: #ff0000;
    font-weight: 900;
}
/*Media Queries*/
@media screen and (max-width: 768px){
    /*Burger Button*/
    .burger-button{
        display: block;
    }
    /* Header*/
    .header{
        display: block;
        height: auto;
    }
    .nav_ol{
        display: block;
    }
    .header_imageContainer{
        text-align: center;
    }
    .nav{
        background-color: rgba(255, 255, 255, .923);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .45s;
    }
    .nav.active{
        left: 0;
    }
    .nav_ol{
        height: auto;
    }
    .ol_li{
        text-align: center;
        padding: 1rem;
        font-size: 2.5rem;
    }
    .ol_li a{
        font-size: 1em;
        text-decoration: underline;
    }
    /*Hero*/
    .hero{
        height: auto;
    }
    h1{
        font-size: 2rem;
    }
    h1 strong{
        font-size: 2.25rem;
    }
    /*Portfolio*/
    .portfolio_title{
        font-size: 1.5rem;
    }
    .portfolio_info{
        width: auto;
        display: block;
        margin: 0 auto;
    }
    .info_description{
        font-size: .9rem;
        max-width: 80%;
        margin: 0 auto;
    }
    .description_title, .description_subtitle, .description_date, .description_url, .description_2{
        margin: .4rem 0;
    }
    .description_title{
        font-size: 1.5em;
    }
    .description_subtitle{
        font-size: .8em;
    }
    .description_date{
        font-size: .7em;
    }
    .description_url{
        font-size: .7em;
    }
    .description_2{
        font-size: .9em;
    }
    .media_imageContainer{
        max-width: 70%;
        text-align: center;
        margin: 0 auto;
    }
    /*Event*/
    .event_title{
        font-size: 1.5rem;
    }
    .event_wrapper{
        display: block;
        max-width: 100%;
    }
    .event_info{
        font-size: 1rem;
        max-width: inherit;
    }
    .event_imageContainer{
        max-width: 70%;
    }
    .event_article{
        font-size: inherit;
    }
    .article_title{
        font-size: 1.5em;
    }
    .article_description, .article_url{
        font-size: 1em;
    }
    /*Contact*/
    .contact_flex
    {
        font-size: 1rem;
    }
    .contact_form{
        font-size: inherit;
        margin: .5rem 0;
    }
    .contact_flex h6{
        font-size: .75em;
    }
    .contact_form input, .contact_form button{
        font-size: .6em;
    }
    .contact_article{
        margin: .5rem 0;
    }
    .icon-gmail:before, .icon-linkedin:before, .icon-github:before, .icon-twitter:before{
        font-size: 40px;
        margin: .5rem;
    }
    .image.linkedin{
        width: 6rem;
    }
    .footer{
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 425px){
    /*Burger Button*/
    .burger-button{
       display: block;
    }
    /*Header*/
    .nav_ol{
         font-size: 1rem;
    }
     .ol_li{
        font-size: 1.7rem;
    }
    .ol_li a{
        font-size: .7em;
    }
    /*Hero*/
    .hero{
        font-size: 1rem;
    }
    .hero h1{
        font-size: 1.3em;
        margin-right: .7rem;
    }
    .hero h1 strong{
        font-size: 1.5rem;
    }
    /*Portfolio*/
    .portfolio_title{
        font-size: 1rem;
        margin: .5rem;
    }
    .portfolio_info{
        font-size: .8rem;
    }
    .info_description{
        font-size: inherit;
    }
    .description_title{
        font-size: 1.5em;
    }
    .description_subtitle{
        font-size: .8em;
    }
    .description_date{
        font-size: .7em;
    }
    .description_url{
        font-size: .7em;
    }
    .description_2{
        font-size: .9em;
    }
    .media_imageContainer{
        max-width: 80%;
    }
    /*Event*/
    .event_title{
        font-size: 1rem;
        margin: .5rem;
    }
    .event_wrapper{
        font-size: .8rem;
    }
    .event_info{
        font-size: inherit;
    }
    .event_article{
        font-size: inherit;
    }
    .article_title{
        font-size: 1.5em;
    }
    .article_description, .article_url{
        font-size: 1em;
    }
    /*Contact*/
    .contact_flex{
        font-size: .9rem;
    }
    .icon-gmail:before, .icon-linkedin:before, .icon-github:before, .icon-twitter:before{
        font-size: 30px;
        margin: .5rem;
    }
    .image.linkedin{
        width: 5.5rem;
    }
    /*Footer*/
    .footer{
        display: block;
        text-align: center;
    }
    .footer_paragraph{
        font-size: .75rem;
    }
}